{% extends "base.html" %}
{% block content %}
<div class="d-flex flex-column vh-100">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home_admin') }}">KitaabGharGharGhar</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home_admin') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_section') }}"
                  >Add Section</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('borrow_requests') }}"
                  >Borrow Requests</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('search_admin') }}">Search</a>
              </li>
            </ul>
            <form
              class="d-flex m-2"
              action="{{ url_for('home_admin') }}"
              method="post"
            >
              <button class="btn btn-outline-danger form-control" type="submit">
                Logout
              </button>
            </form>
          </div>
        </div>
      </nav>

    <div class="d-flex justify-content-center align-items-start flex-grow-1">
        <div class="card m-3" style="min-width: 20rem">
            <h3 class="card-header">Add Book</h3>
            <div class="card-body">
                {% for category, message in get_flashed_messages(with_categories = true) %}
                {% if category == "error" %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endif %}
                {% if category == "success" %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}

                <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col mx-1" style="min-width: 16rem;">
                            <div class="my-1">
                                <label for="book_name" class="form-label">Name</label>
                                <input type="text" class="form-control" name="book_name">
                            </div>
                            <div class="my-1">
                                <label for="author" class="form-label">Author</label>
                                <input type="text" class="form-control" name="author">
                            </div>
                            
                            <div class="my-1">
                                <label for="price" class="form-label">Price</label>
                                <input type="number" class="form-control" min="0" max="200000" name="price">
                            </div>
                            <div class="mb-3">
                                <label for="content" class="form-label">Content</label>
                                <input class="form-control" type="file" id="content" name="content" accept=".pdf">
                            </div>
                            <div class="mb-3">
                                <label for="cover" class="form-label">Cover</label>
                                <input class="form-control" type="file" id="cover" name="cover" accept="image/png, image/jpeg">
                            </div>
                        </div>
                        
                    </div>
                    <div class="row mx-1 my-3">
                        <button type="submit" class="btn btn-primary form-control">Add</button>
                        <a class="btn btn-danger my-2" href="{{ url_for('home_admin') }}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}