{% extends "base.html" %} {% block content %}
<div class="d-flex flex-column vh-100">
  <nav class="navbar navbar-expand-lg navbar-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home_admin') }}">Kitaab</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon color-toggle"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('add_section')}}"
              >Add Section</a
            >
          </li>
        </ul>
        <form
          class="d-flex m-2"
          action="{{ url_for('home_admin') }}"
          method="post"
        >
          <button class="btn btn-outline-danger form-control" type="submit">
            Logout
          </button>
        </form>
      </div>
    </div>
  </nav>

  {% for category, message in get_flashed_messages(with_categories = true) %} {%
  if category == "error" %}
  <div class="alert alert-danger">{{ message }}</div>
  {% endif %} {% if category == "success" %}
  <div class="alert alert-success">{{ message }}</div>
  {% endif %} {% endfor %}

  <div class="d-flex flex-column align-items-start flex-grow-1 flex-wrap">
    {% if section_list %} {% for section in section_list.keys() %}
    <div class="row mx-2 my-3">
      <h3 class="m-2">{{ section.section_name }}</h3>
      <p class="m-2">{{ section.description }} {{ section.date_created }}</p>
      <div class="d-flex align-items-start flex-wrap">
        <button class="btn btn-secondary m-2"
          onclick="myFunction(event)"
          data-section-id="{{ section.section_id }}"
        >Show/Hide Section</button>
        <a
          class="btn btn-warning m-2"
          href="{{ url_for('add_book', section_id=section.section_id) }}"
          >Add Book</a
        >
        <a
          class="btn btn-primary m-2"
          href="{{ url_for('edit_section', section_id=section.section_id) }}"
          >Edit Section</a
        >
        <a
          class="btn btn-danger m-2"
          href="{{ url_for('delete_section', section_id=section.section_id) }}"
          >Delete Section</a
        >
      </div>
      <div class="d-flex flex-wrap">
        {% for book in section_list[section] %}
        <div
          class="card m-2 cl{{ section.section_id }}"
          style="min-width: 12rem; max-width: 12rem; display: none"
        >
          {% if book.cover %}
          <img
            class="card-img-top"
            src="{{ url_for('static', filename='uploads/covers/'+book.cover ) }}"
          />
          {% else %}
          <h3 class="text-center m-3">No image</h3>
          {% endif %}
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h4>{{ book.book_name }}</h4>
            </div>
            <p class="card-text text-muted">
              {{ book.author }}<br />
              Price: ₹ {{ book.price }}
            </p>
            <div class="d-flex flex-wrap">
              <a
                class="btn btn-primary m-2"
                href="{{ url_for('edit_book', book_id = book.book_id)}}"
                >Edit Book</a
              >
              <a
                class="btn btn-danger m-2"
                href="{{ url_for('delete_book', book_id=book.book_id)}}"
                >Delete Book</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %} {% else %}
    <h3 class="m-3">No Sections Found.</h3>
    {% endif %}
  </div>
</div>
<script>
  function myFunction(event) {
    console.log("works");
    let id = event.target.dataset.sectionId;
    console.log(event);
    console.log(id);

    let elements = document.querySelectorAll(".cl" + id);
    for (element of elements) {
      console.log(element);
      if (element.style.display === "none") {
        element.style.display = "block";
      } else {
        element.style.display = "none";
      }
    }
  }
</script>
{% endblock %}
