{% extends "base.html" %}
{% block content %}

<div class="d-flex flex-column vh-100">
    <nav class="navbar navbar-expand-lg navbar-nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home') }}">KitaabGhar</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon color-toggle"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item m-2">
                <a
                  class="nav-link active border rounded form-control text-center"
                  href="{{ url_for('view_book' , book_id=book.book_id) }}"
                  >Go Back</a
                >
              </li>
            </ul>
      
            <form class="d-flex m-2" action="{{ url_for('home') }}" method="post">
              <button class="btn btn-outline-danger form-control" type="submit">
                Logout
              </button>
            </form>
          </div>
        </div>
      </nav>


    <div class="d-flex justify-content-center align-items-center flex-grow-1">
        <div class="card" style="width: 20rem;">
            <h3 class="card-header">{{ book.book_name }}</h3>
            <div class="card-body">
                {% if rate %}
                <form action="{{ request.path }}" method="post">
                    <div class="mb-3">
                        <label for="rating" class="form-label">Rating (0-5)</label>
                        <input type="number" class="form-control" name="rating" min="0" max="5">
                    </div>
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
                </form>
                {% else %}
                <p>You have already submitted a rating for this book</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}