{% extends "base.html" %} {% block content %}

<div class="d-flex flex-column vh-100">
  <nav class="navbar navbar-expand-lg navbar-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home') }}">Kitaab</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon color-toggle"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item m-2">
            <a
              class="nav-link active border rounded form-control text-center"
              href="{{ url_for('home') }}"
              >Go Back</a
            >
          </li>
        </ul>

        <form class="d-flex m-2" action="{{ url_for('home') }}" method="post">
          <button class="btn btn-outline-danger form-control" type="submit">
            Logout
          </button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container h-100">
    <div class="row h-100">
      <div
        class="col-sm d-flex flex-column align-items-center justify-content-center"
        style="min-width: 16rem"
      >
        <img
          class="img-fluid w-75 m-2"
          src="{{ url_for('static', filename='uploads/covers/'+book.cover ) }}"
          alt="{{ book.book_name }}"
        />
      </div>
      <div class="col-sm d-flex justify-content-center flex-column">
        <div
          class="d-flex flex-column align-items-start justify-content-center m-2"
        >
          <div
            class="container-fluid d-flex align-items-start justify-content-between"
          >
            <div>
              <h1>{{ book.book_name }}</h1>
            </div>
            <h6 class="m-3">{{ book.author }}</h6>
            {% if rating == None %}
            <h5 class="my-3">Rating: {{ rating }}</h5>
            {% else %}
            <h5 class="my-3">Rating: {{ rating }}/5</h5>
            {% endif %}
          </div>
        </div>
        <div class="card m-2">
          <h3 class="card-header">Request Book</h3>
          <div class="card-body">
            {% for category, message in get_flashed_messages(with_categories =
            true) %} {% if category == "error" %}
            <div class="alert alert-danger">{{ message }}</div>
            {% endif %} {% if category == "success" %}
            <div class="alert alert-success">{{ message }}</div>
            {% endif %} {% endfor %}
            <form action="{{ request.path }}" method="post">
              {% if flag == 'REQUESTED' %}

              <p>Book Already Requested</p>
              {% elif flag == 'MAXLIMIT' %}
              <p>You have reached your request limit.</p>
              {% else %}
              <div class="mb-3">
                <label for="number_of_days" class="form-label"
                  >Number of days</label
                >
                <input
                  type="number"
                  class="form-control"
                  name="number_of_days"
                  min="1"
                  max="15"
                />
              </div>
              <button type="submit" class="btn btn-primary form-control">
                Request Book
              </button>
              {% endif %}
              <a
                class="btn btn-danger my-2 form-control"
                href="{{ url_for('home') }}"
                >Cancel</a
              >
              <a class="btn btn-primary m-2" href="{{ url_for('rate_book', book_id=book.book_id) }}">Rate</a>
              <a class="btn btn-primary m-2" href="{{ url_for('static', filename='uploads/content/'+ book.content) }}">Buy for ₹{{ book.price }}</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
